.breadcumb-area-1{
	position: relative;
    z-index: 1;
    height: 300px !important;
}
.trial-bg-1{
	background-image: url(../img/header-2.jpg);
	background-size: cover;
    /* background: #086ad8; */
}
.section-padding-200{
	padding-top: 200px;
    padding-bottom: 200px;
}
.breadcumb-content-1{
	position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.fnt-siz{
	font-size: 3.5rem;
	font-weight: 700;
}
.about-div{
	background-color: #fff;
	margin-bottom: 20px;
    padding: 60px !important;
    margin-top: -70px !important;
    z-index: 1;
}
.text-align{
	text-align: center;
}
.text-decoration{
    text-decoration: none !important;
    color:#086ad8 !important
}
.btn-custm{
    
    border-radius: 5px !important;
}
/*.btn-custm:hover{
    border: 2px tr;
}*/
.text-decoration:hover{
    text-decoration: underline !important;

}
.overlay-1{
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: gray;
  opacity: .5;
}
@media screen and (max-width: 480px) {

.section-padding-200 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.trial-bg-1{
    filter: opacity(30%);
}
}

@media screen and (max-width: 1149px) {
    .hero-setion{
        min-height: 700px !important;
    }
}
.classynav ul li a {
    
    color: #000 !important;
    
}
