/* animated css */
.integration-con {
    max-width: 1335px  !important;
    /*width: 96% !important;*/
    background: #333 !important;
    color: #fff !important;
    text-align: right !important;
    padding: 60px 70px !important;
    box-sizing: border-box !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    position: relative !important;
    margin-bottom: 40px !important;
  }
  
  .integration-con-inner {
    max-width: 1100px !important;
    width: 100% !important;
    display: inline-block !important;
    text-align: left !important;
  }
  
  .integ-content-con {
    display: inline-block !important;
    vertical-align: middle !important;
    width: 48% !important;
    padding-right: 3% !important;
    box-sizing: border-box !important;
  }
  
  .inner-hdr {
    font: 48px/1 var(--zf-primary-extrabold) !important;
    letter-spacing: -1px !important;
    color: #ffff !important
  }
  
  
  
  .learnmore.white {
    color: #fff !important;
  }
  
  .learnmore {
    margin-top: 35px !important;
    font: 400 16px/1.7 Roboto, Arial, Helvetica, sans-serif !important;
    display: inline-block !important;
    cursor: pointer !important;
    position: relative !important;
    color: #0067ff !important;
    text-decoration: none !important;
    padding-right: 30px !important;
  }
  
  .learnmore.yellow-arrow span {
    background-position: -119px -130px !important;
  }
  
  .bg_lazy_loaded .sprite-icns-svg,
  .awrd-inner-sec .awards-logo:after {
    background-image: url(/sites/default/files/crm/crm-home-sprite.png) !important;
    background-size: 1280px auto !important;
    background-repeat: no-repeat !important;
  }
  
  .learnmore span {
    width: 15px !important;
    height: 11px !important;
    display: inline-block !important;
    margin-left: 7px !important;
    transition: all ease .35s !important;
  }
  
  .integ-img-con {
    display: inline-block !important;
    vertical-align: middle !important;
    width: 51% !important;
    padding-left: 3% !important;
    box-sizing: border-box !important;
    position: relative !important;
  }
  
  .integration-con-inner {
    display: inline-block !important;
    text-align: left !important;
  }
  
  .anim-init {
    transition: .7s opacity cubic-bezier(.25, .46, .45, .94), 1s transform cubic-bezier(.25, .46, .45, .94) !important !important;
  }
  
  .integ-images {
    max-width: 510px !important;
    width: 100% !important;
    display: inline-block !important;
  }
  
  .integration-illustration {
    display: inline-block !important;
    position: absolute !important;
    bottom: -104px !important;
    left: -26% !important;
    max-width: 298px !important;
  }
  
  @media only screen and (max-width: 767px) {
    .integration-con {
        padding: 60px 30px  !important;
    }
  }
  @media only screen and (max-width: 992px) {
    .integration-con {
        width: 100% !important;
        border-radius: 0 !important;
        padding: 80px 60px !important;
        margin-bottom: 0 !important;
    }
  }
  
  @media only screen and (max-width: 992px) {
    .integration-con-inner, .testimonial-inner, .testimonial-sldr-con {
        max-width: 700px !important;
        display: block !important;
        margin: 0 auto !important;
    }
  }
  @media only screen and (max-width: 767px) {
    .integ-content-con {
        margin: 0 auto 20px !important;
    }
  }
  @media only screen and (max-width: 767px) {
    .integ-img-con {
        text-align: center !important;
        max-width: 500px !important;
    }
  }
  @media only screen and (max-width: 992px) {
  .integ-content-con {
    width: 96% !important;
    margin: 0 auto 35px !important;
    float: none !important;
    max-width: 700px !important;
    padding-right: 0  !important;
    padding-left: 0  !important;
  }
  }
  @media only screen and (max-width: 767px) {
  .inner-hdr {
    font-size: 32px !important;
    line-height: 40px !important;
  }
  }
  @media only screen and (max-width: 767px) {
  .learnmore {
    margin-top: 20px !important;
  }
  }
  @media only screen and (max-width: 767px) {
  .learnmore {
    margin-top: 20px !important;
  }
  }
  .learnmore.yellow-arrow span {
  background-position: -119px -130px !important;
  }
  .bg_lazy_loaded .sprite-icns-svg  {
  background-image: url(/sites/default/files/crm/crm-home-sprite.png) !important;
  background-size: 1280px auto !important;
  background-repeat: no-repeat !important;
  }
  @media only screen and (max-width: 767px) {
  .integ-content-con, .integ-img-con {
    text-align: center !important;
  }
  }
  @media only screen and (max-width: 992px) {
  .integ-img-con  {
    width: 100% !important;
    margin: 0 auto !important;
    float: none !important;
    max-width: 700px !important;
    padding: 0 !important;
  }
  }
  @media only screen and (max-width: 767px) {
  .integ-img-con {
    text-align: center !important;
  }
  }
  
  @media only screen and (max-width: 992px) {
  .socl-img {
    max-width: 550px  !important;
    width:100% t !important;
    margin-top: 20px !important;
  }
  }
  @media (max-width: 1160px) {
  .integration-illustration {
    display: none  !important;
  }
  }
  
  
  @media only screen and (max-width: 1260px) {
    .integration-illustration {
      max-width: 240px  !important;
      bottom: -70px   !important;
      left: -20%  !important;
    }
  }
  