/* UI Icons  */
@font-face {
  font-family: 'ui-icons';
  src: url('https://nadrix.netlify.app/fonts/ui-icons.eot?28565742');
  src: url('https://nadrix.netlify.app/fonts/ui-icons.eot?28565742') format('embedded-opentype'),
       url('../fonts/ui-icons.woff2?28565742') format('woff2'),
       url('https://nadrix.netlify.app/fonts/ui-icons.woff?28565742') format('woff'),
       url('https://nadrix.netlify.app/fonts/ui-icons.ttf?28565742') format('truetype'),
       url('https://nadrix.netlify.app/fonts/ui-icons.svg?28565742') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ui-icons';
    src: url('../font/ui-icons.svg?28565742#ui-icons') format('svg');
  }
}
*/
 
 [class^="ui-"]:before, [class*=" ui-"]:before {
  font-family: "ui-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

 
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.ui-cassette-player:before { content: '\e800'; } /* '' */
.ui-charlie-chaplin:before { content: '\e801'; } /* '' */
.ui-chef-hat:before { content: '\e802'; } /* '' */
.ui-clock:before { content: '\e803'; } /* '' */
.ui-coffee-machine:before { content: '\e804'; } /* '' */
.ui-cog:before { content: '\e805'; } /* '' */
.ui-computer-imac:before { content: '\e806'; } /* '' */
.ui-computer-network:before { content: '\e807'; } /* '' */
.ui-computer-pc:before { content: '\e808'; } /* '' */
.ui-computer-screen-1:before { content: '\e809'; } /* '' */
.ui-check:before { content: '\e80a'; } /* '' */
.ui-computer-screen-2:before { content: '\e80b'; } /* '' */
.ui-contact-book:before { content: '\e80c'; } /* '' */
.ui-content-download:before { content: '\e80d'; } /* '' */
.ui-cooking-pot:before { content: '\e80e'; } /* '' */
.ui-crop:before { content: '\e80f'; } /* '' */
.ui-crown:before { content: '\e810'; } /* '' */
.ui-designer-cup:before { content: '\e811'; } /* '' */
.ui-diving-gear:before { content: '\e812'; } /* '' */
.ui-drink-cocktail:before { content: '\e813'; } /* '' */
.ui-drink-coffee:before { content: '\e814'; } /* '' */
.ui-e-mail:before { content: '\e815'; } /* '' */
.ui-envelope:before { content: '\e816'; } /* '' */
.ui-eyedropper:before { content: '\e817'; } /* '' */
.ui-fork-knife:before { content: '\e818'; } /* '' */
.ui-forklift:before { content: '\e819'; } /* '' */
.ui-fountain-pen-head-1:before { content: '\e81a'; } /* '' */
.ui-fountain-pen-head-2:before { content: '\e81b'; } /* '' */
.ui-gauge:before { content: '\e81c'; } /* '' */
.ui-globe:before { content: '\e81d'; } /* '' */
.ui-grid:before { content: '\e81e'; } /* '' */
.ui-griller:before { content: '\e81f'; } /* '' */
.ui-handbag:before { content: '\e820'; } /* '' */
.ui-headphone:before { content: '\e821'; } /* '' */
.ui-heart:before { content: '\e822'; } /* '' */
.ui-home:before { content: '\e823'; } /* '' */
.ui-hotdog:before { content: '\e824'; } /* '' */
.ui-icecream:before { content: '\e825'; } /* '' */
.ui-image:before { content: '\e826'; } /* '' */
.ui-iphone:before { content: '\e827'; } /* '' */
.ui-ipod:before { content: '\e828'; } /* '' */
.ui-layers:before { content: '\e829'; } /* '' */
.ui-layers-image:before { content: '\e82a'; } /* '' */
.ui-link:before { content: '\e82b'; } /* '' */
.ui-location-pin:before { content: '\e82c'; } /* '' */
.ui-location-user:before { content: '\e82d'; } /* '' */
.ui-lock-locked:before { content: '\e82e'; } /* '' */
.ui-lock-unlocked:before { content: '\e82f'; } /* '' */
.ui-magic-wand:before { content: '\e830'; } /* '' */
.ui-magnet:before { content: '\e831'; } /* '' */
.ui-microphone:before { content: '\e832'; } /* '' */
.ui-monocle:before { content: '\e833'; } /* '' */
.ui-mp3-player:before { content: '\e834'; } /* '' */
.ui-music-note:before { content: '\e835'; } /* '' */
.ui-notebook-1:before { content: '\e836'; } /* '' */
.ui-notebook-2:before { content: '\e837'; } /* '' */
.ui-paint-brush:before { content: '\e838'; } /* '' */
.ui-paint-bucket:before { content: '\e839'; } /* '' */
.ui-paint-palette:before { content: '\e83a'; } /* '' */
.ui-paint-roller:before { content: '\e83b'; } /* '' */
.ui-pencil-ruler:before { content: '\e83c'; } /* '' */
.ui-pen-fountain:before { content: '\e83d'; } /* '' */
.ui-pen-point-tip:before { content: '\e83e'; } /* '' */
.ui-picture-frame:before { content: '\e83f'; } /* '' */
.ui-quill-ink:before { content: '\e840'; } /* '' */
.ui-refresh:before { content: '\e841'; } /* '' */
.ui-remote-control-hand:before { content: '\e842'; } /* '' */
.ui-remote-control-screen:before { content: '\e843'; } /* '' */
.ui-script:before { content: '\e844'; } /* '' */
.ui-server:before { content: '\e845'; } /* '' */
.ui-settings:before { content: '\e846'; } /* '' */
.ui-shield-cross:before { content: '\e847'; } /* '' */
.ui-shopping-cart-add:before { content: '\e848'; } /* '' */
.ui-shopping-cart-remove:before { content: '\e849'; } /* '' */
.ui-skull:before { content: '\e84a'; } /* '' */
.ui-smart-device:before { content: '\e84b'; } /* '' */
.ui-smiley:before { content: '\e84c'; } /* '' */
.ui-sneakers:before { content: '\e84d'; } /* '' */
.ui-sofa:before { content: '\e84e'; } /* '' */
.ui-stamp:before { content: '\e84f'; } /* '' */
.ui-sub-woofer:before { content: '\e850'; } /* '' */
.ui-syringe:before { content: '\e851'; } /* '' */
.ui-target:before { content: '\e852'; } /* '' */
.ui-teapot:before { content: '\e853'; } /* '' */
.ui-trash-can:before { content: '\e854'; } /* '' */
.ui-umbrella:before { content: '\e855'; } /* '' */
.ui-user:before { content: '\e856'; } /* '' */
.ui-user-chat:before { content: '\e857'; } /* '' */
.ui-vector:before { content: '\e858'; } /* '' */
.ui-windows-1:before { content: '\e859'; } /* '' */
.ui-wrenches:before { content: '\e85a'; } /* '' */
.ui-write:before { content: '\e85b'; } /* '' */
.ui-backpack:before { content: '\e85c'; } /* '' */
.ui-bomb:before { content: '\e85d'; } /* '' */
.ui-book:before { content: '\e85e'; } /* '' */
.ui-briefcase:before { content: '\e85f'; } /* '' */
.ui-bubble-chat:before { content: '\e860'; } /* '' */
.ui-bubble-heart:before { content: '\e861'; } /* '' */
.ui-camera-photo:before { content: '\e862'; } /* '' */
.ui-camera-polaroid:before { content: '\e863'; } /* '' */
.ui-camera-video:before { content: '\e864'; } /* '' */
.ui-twitter:before { content: '\f099'; } /* '' */
.ui-github:before { content: '\f09b'; } /* '' */
.ui-linkedin:before { content: '\f0e1'; } /* '' */
.ui-arrow-left:before { content: '\f104'; } /* '' */
.ui-arrow-right:before { content: '\f105'; } /* '' */
.ui-arrow-up:before { content: '\f106'; } /* '' */
.ui-arrow-down:before { content: '\f107'; } /* '' */
.ui-youtube:before { content: '\f167'; } /* '' */
.ui-xing:before { content: '\f168'; } /* '' */
.ui-dropbox:before { content: '\f16b'; } /* '' */
.ui-stackoverflow:before { content: '\f16c'; } /* '' */
.ui-instagram:before { content: '\f16d'; } /* '' */
.ui-flickr:before { content: '\f16e'; } /* '' */
.ui-bitbucket:before { content: '\f171'; } /* '' */
.ui-tumblr:before { content: '\f173'; } /* '' */
.ui-apple:before { content: '\f179'; } /* '' */
.ui-windows:before { content: '\f17a'; } /* '' */
.ui-android:before { content: '\f17b'; } /* '' */
.ui-dribbble:before { content: '\f17d'; } /* '' */
.ui-skype:before { content: '\f17e'; } /* '' */
.ui-foursquare:before { content: '\f180'; } /* '' */
.ui-trello:before { content: '\f181'; } /* '' */
.ui-vkontakte:before { content: '\f189'; } /* '' */
.ui-vimeo:before { content: '\f194'; } /* '' */
.ui-slack:before { content: '\f198'; } /* '' */
.ui-google:before { content: '\f1a0'; } /* '' */
.ui-reddit:before { content: '\f1a1'; } /* '' */
.ui-stumbleupon:before { content: '\f1a4'; } /* '' */
.ui-delicious:before { content: '\f1a5'; } /* '' */
.ui-digg:before { content: '\f1a6'; } /* '' */
.ui-behance:before { content: '\f1b4'; } /* '' */
.ui-spotify:before { content: '\f1bc'; } /* '' */
.ui-soundcloud:before { content: '\f1be'; } /* '' */
.ui-codeopen:before { content: '\f1cb'; } /* '' */
.ui-git:before { content: '\f1d3'; } /* '' */
.ui-slideshare:before { content: '\f1e7'; } /* '' */
.ui-twitch:before { content: '\f1e8'; } /* '' */
.ui-lastfm:before { content: '\f202'; } /* '' */
.ui-forumbee:before { content: '\f211'; } /* '' */
.ui-sellsy:before { content: '\f213'; } /* '' */
.ui-shirtsinbulk:before { content: '\f214'; } /* '' */
.ui-skyatlas:before { content: '\f216'; } /* '' */
.ui-pinterest:before { content: '\f231'; } /* '' */
.ui-whatsapp:before { content: '\f232'; } /* '' */
.ui-facebook:before { content: '\f308'; } /* '' */