/* impact css  */

#statsSection {
    padding: 50px 0;
  }
  .gradient-bg:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    /*background: linear-gradient(
  180deg
  ,rgba(246,176,73,.74) -6.57%,rgba(152,183,91,.893536) 70.06%,#57bc67 109.25%);*/
    opacity: .12;
    transform: matrix(-1,0,0,1,0,0);
  }
  .gradient-bg .container {
    position: relative;
  }
  #statsSection .heading {
    margin-bottom: 50px;
  }
  .heading {
    font-size: 30px;
    font-weight: 800;
    color: #333;
  }
  .heading span {
    color: #57bc67;
  }
  #statsSection .box {
    position: relative;
    padding: 30px;
    background: #fff;
    mix-blend-mode: normal;
    box-shadow: -1px 3px 11px rgb(211 216 221 / 21%);
    border-radius: 16px;
    height: 100%;
  }   
  #statsSection .box img {
    margin-bottom: 20px;
    height: 95px;
  }
  #statsSection .box p {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: .225934px;
    color: #333;
    margin: 0;
  }
  #statsSection .box h4 {
    font-weight: 700;
    font-size: 40px;
    line-height: 63px;
    text-align: center;
    letter-spacing: .451868px;
    color: #333;
    margin: 0;
  }
  @media screen and (max-width: 480px) {
  #statsSection .box h4{
    font-size: 30px;
  }
}