.my-button {
    font-size: 14px;
    padding: 12px 14px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
    text-decoration: underline;
    background-color: transparent;
}

a span {
    color: #3c3c3c;
    font-size: 15px;
    text-transform: uppercase;
   /* border-bottom: 1px solid #ddd;*/
    display: inline-block;
    padding: 3px 2px;
}

.active,
.my-button:hover {
    border-color: #d2eafa;
    /*background-color: #fff;*/
    box-shadow: none;
    text-decoration: none;
}

a span :active {
    color: #1b98d6 !important;
    font-weight: 200;
    text-decoration: none;

}
.dark.btn-clr{
    border: 1px solid #fff !important;
}
.btn-clr{
    background-color: transparent !important;
    padding: 8px 30px !important;
    border: 1px solid #000 !important;
}
.sticky .btn-clr{
    background-color: transparent !important;
    border: 1px solid #000 !important;
}

.btn-color:hover{
    background-color: #fb525e !important;
}
.shado{
   /* box-shadow: 2px 4px 10px 4px #9da4b2;*/
box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
 rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, 
 rgba(255, 255, 255, 0.08) 0px 1px 0px inset;}
 .dis-flex{
    display: flex;
    padding-top: 1rem;
 }
 .mt-10{
    margin-top: 5rem;
 }
@media screen and (max-width: 480px) {
   #arrow-icon {
        display: none !important;
    }
    #arrow-icon-1{
        display: none !important;
    }
    ol, ul {
    padding-left: 0 !important;
}
 }
 