#brandSection {
  padding: 100px 0;
  position: relative;
}

.btn.btn-outline-success, .btn.btn-success {
  border-color: #57bc67;
  border-radius: 60px;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
}


#brandSection .heading {
  position: relative;
  font-size: 60px !important;
  font-weight: 700;
  color: #1571da !important;;
  margin-left: 50px;
}
#brandSection .heading:before {
  content: "";
  position: absolute;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background: #fff;
  z-index: -1;
  left: 40px;
  top: -25px;
}
#brandSection .heading span {
  font-size: 110px;
  color: #57bc67;
}
#brandSection .heading {
  position: relative;
  font-size: 60px;
  font-weight: 700;
  color: #f6b049;
  margin-left: 50px;
}
#brandSection .heading:after {
  content: "";
  position: absolute;
  height: 200px;
  width: 200px;
  background: url(/static/media/square.c17413a6.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  bottom: -50px;
  left: -50px;
  z-index: -1;
}
#brandSection .brands img.big {
  max-height: 75px;
}
#brandSection .brands img {
  margin: 30px 0;
  max-height: 60px;
  max-width: 100%;
}


@media (max-width: 768px) {

  #brandSection .heading {
      font-size: 40px;
      font-weight: 700;
      color: #f6b049;
      line-height: 58px;
      text-align: left;
      padding: 0 23px;
      margin-bottom: 20px;
      margin-left: 0;
  }
}


@media (max-width: 768px) {

  #brandSection {
      padding: 50px 0;
     
  }
}

@media (max-width: 768px) {
  #brandSection .heading:before {
      height: 245px;
      width: 245px;
       
  }
}

@media (max-width: 768px) {
  #brandSection .heading span {
      font-size: 75px;
  }
}

@media (max-width: 768px) {
  #brandSection .heading:after {
      height: 133px;
      left: -20px;
      bottom: -5px!important;
  }
}

@media (max-width: 768px) {
  #brandSection .brands img.big {
      height: 50px;
      
  }
}

@media (max-width: 768px) {
  #brandSection .brands img {
      height: 40px;
      margin: 15px 0;
  }
}


@media (max-width: 768px) {
  .mobile-hide, .mobile-hide-inline-block {
      display: none!important;
  }
}

