.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease
  }
  
  @media (prefers-reduced-motion:reduce) {
    .accordion-button {
        transition: none
    }
  }
  
  .accordion-button.collapsed {
    border-bottom-width: 0
  }
  
  .accordion-button:not(.collapsed) {
    color: #0c63e4;
    background-color: #e7f1ff
  }
  
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(180deg)
  }
  .accordion-button:after {
    background-image: url(https://univalley.com/static/media/plus.6e735414.svg);
  }
  
  .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out
  }
  
  @media (prefers-reduced-motion:reduce) {
    .accordion-button::after {
        transition: none
    }
  }
  
  .accordion-button:hover {
    z-index: 2
  }
  
  .accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25)
  }
  
  .accordion-header {
    margin-bottom: 0
  }
  
  .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
  }
  
  .accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-width: 1px;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
  }
  
  .accordion-item:last-of-type .accordion-collapse {
    border-bottom-width: 1px;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
  }
  
  .accordion-collapse {
    border: solid rgba(0,0,0,.125);
    border-width: 0 1px
  }
  
  .accordion-body {
    padding: 1rem 1.25rem
  }
  
  .accordion-flush .accordion-button {
    border-right: 0;
    border-left: 0;
    border-radius: 0
  }
  
  .accordion-flush .accordion-collapse {
    border-width: 0
  }
  
  .accordion-flush .accordion-item:first-of-type .accordion-button {
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0
  }
  
  .accordion-flush .accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-width: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
  }
  
  #advantageSection #accordionAdvantage .accordion-item {
    margin-bottom: 20px;
    background: #fff;
    box-shadow: -1px 3px 11px rgb(211 216 221 / 21%);
    border-radius: 16px;
    overflow: hidden;
  }
  #advantageSection #accordionAdvantage .accordion-item .accordion-header .accordion-button {
    color: #333;
    font-weight: 700;
    border: 0;
    box-shadow: unset;
  }
  .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }
  .accordion-button:after {
    background-image: url(https://univalley.com/static/media/plus.6e735414.svg);
  }
  .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
  }
   
   #advantageSection {
    padding: 50px 0;
  }
  #advantageSection .icon-right {
    width: 100%;
  }
  #advantageSection #accordionAdvantage .accordion-item {
    margin-bottom: 20px;
    background: #fff;
    box-shadow: -1px 3px 11px rgba(211, 216, 221, 0.21);
    border-radius: 16px;
    overflow: hidden;
  }
  #advantageSection #accordionAdvantage .accordion-item .accordion-button:not(.collapsed) {
    background-color: #fff;
  }
  #advantageSection #accordionAdvantage .accordion-item .accordion-header .accordion-button {
    color: #333;
    font-weight: 700;
    border: 0;
    box-shadow: unset;
  }
  #advantageSection #accordionAdvantage .accordion-item .accordion-header .accordion-button span {
    width: 60px;
    text-align: left;
  }
  #advantageSection #accordionAdvantage .accordion-item .accordion-header .accordion-button span .icon {
    margin-right: 25px;
    background: #fff;
    box-shadow: -1px 3px 10px rgba(211, 216, 221, 0.4);
    height: 50px;
    width: 50px;
    padding: 10px;
    background: #fff;
    border-radius: 50%;
  }
  #advantageSection #accordionAdvantage .accordion-item .accordion-collapse {
    border: 0;
  }
  #advantageSection #accordionAdvantage .accordion-item .accordion-collapse .accordion-body {
    padding-left: 80px;
    padding-top: 0;
    padding-bottom: 35px;
  }
  #advantageSection #accordionAdvantage .accordion-item .accordion-collapse .accordion-body p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #333;
    opacity: 0.5;
  }
  
  .heading span {
    color: #1571da;
  }
  .gradient-bg {
    color:  #57bc67 !important;
  
  }
  /* #advantageSection {
    background-color: #d9e7dd;;
  } */
  
  .clr span{
    color: #000 !important;
  }
  
  